.btn {
    width: 75px;
    float:left;
    margin: 10px;
}
.imageThumbnail {
    height:200px;
    width: auto;
    width: auto;
}
.rightToLeft {
    direction: rtl !important;
    float: right !important;
    color: rgb(224,0,49);
    font-weight: bold;
    width: 100%;
    height: 15px;
    text-align:right;
}
.extrabtn {
    width: 85px;
}

.myborder {
    border-style: solid;
    border-spacing: 2px;
    border-color: rgb(224,0,49);
}

.sendBtn {
    width: 100%;
    color: black;
    border-color: black;
}
