<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery.validate.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery.validate.unobtrusive.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}">
    <!-- Bootstrap CSS -->

    <title>דלק פורטל</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <div class="container">
        <div>
            <div class="container">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                     <img src="{{url_for('static', filename='images/delekicon.gif')}}" align="middle" height="30"  />


                </nav>
                <div class="rounded">
                    <div class="card-body text-center">
                        <img class="card-img-top" src="{{url_for('static', filename='images/Delek.png')}}" asp-append-version="true" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck justify-content-center">
            <div class=" rounded m-3" style="min-width: 10rem; max-width:30.5%">
                <a href="https://delek.sogomatic.com/pdf/korona-2/">
                    <img class="card-img-top" src="{{url_for('static', filename='images/הקמת_לקוח.PNG')}}" asp-append-version="true" />
                </a>
            </div>
            <div class=" rounded m-3" style="min-width: 10rem; max-width:30.5%">
                <a href="https://www.delek.co.il/contact/%D7%A6%D7%A8%D7%95-%D7%A7%D7%A9%D7%A8">
                    <img class="card-img-top" src="{{url_for('static', filename='images/הקמת_ליד.PNG')}}" asp-append-version="true" />
                </a>
            </div>
            <div class=" rounded m-3" style="min-width: 10rem; max-width:30.5%">
                <a href="https://www.delek.co.il/contact/%D7%A6%D7%A8%D7%95-%D7%A7%D7%A9%D7%A8">
                    <img class="card-img-top" src="{{url_for('static', filename='images/פתיחת_קריאת_שירות.PNG')}}" asp-append-version="true" />
                </a>
            </div>
            <div class=" rounded m-3" style="min-width: 10rem; max-width:30.5%">
                <a href="https://www.delek.co.il/dalkan">
                    <img class="card-img-top" src="{{url_for('static', filename='images/דלק_דלקן.PNG')}}" asp-append-version="true" />
                </a>
            </div>
            <div class=" rounded m-3" style="min-width: 10rem; max-width:30.5%">
                <a href="https://www.delek.co.il/card-management">
                    <img class="card-img-top" src="{{url_for('static', filename='images/ניהול_כרטיס_תדלוק.PNG')}}" asp-append-version="true" />
                </a>
            </div>
        </div>
        <div id="content-bottom">
        </div>
        <div>
            <footer id="footer" class="region region-footer">
                <div id="block-menu-menu-footer" class="block block-menu first odd" role="navigation">
                    <ul class="menu">
                        <li class="menu__item is-leaf first leaf"><a href="https://www.delek.co.il/Fuel-prices" title="" class="menu__link">מחירון</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.il/terms-of-use" class="menu__link">תנאי שימוש</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.il/%D7%A0%D7%92%D7%99%D7%A9%D7%95%D7%AA-%D7%97%D7%91%D7%A8%D7%AA-%D7%93%D7%9C%D7%A7" class="menu__link">הצהרת נגישות</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.il/%D7%A4%D7%A1%D7%A7%D7%99-%D7%93%D7%99%D7%9F" class="menu__link">פסק דין ת"צ 13883-10-13</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.il/regulations" class="menu__link">תקנונים</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.il/card-management" class="menu__link">ניהול כרטיס תדלוק</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.ilhttp://pshara.delek.co.il" class="menu__link" target="_blank">הסדר פשרה בתובענה ייצוגית בענין מחירי הסולר שנגבו מלקוחות עם הסדר דלקן</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.il/thermal" class="menu__link">חשבונית - קבלה נייר תרמי</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delek.co.ilhttp://www.delek.co.il/sites/default/files/reshimat-mafilim.pdf" target="_blank" class="menu__link">מתחמי דלק בהפעלת - מפעילים עצמאיים</a></li>
                        <li class="menu__item is-leaf leaf"><a href="http://www.delek.co.il/sites/default/files/RECALL.pdf" target="_blank" class="menu__link">רשימת תחנות – RECALL   שואב אבק</a></li>
                        <li class="menu__item is-leaf leaf"><a href="https://www.delekgas.co.il/" class="menu__link" target="_blank">דלק גז</a></li>
                        <li class="menu__item is-leaf last leaf"><a href="https://www.delek.co.il/sites/default/files/Polek.pdf" target="_blank" class="menu__link">הודעה בדבר הגשת בקשה לאישור הסדר פשרה בתובענה ייצוגית בעניין תדלוקים באמצעות כרטיסי דיסקאונט בתחנת נווה עמל</a></li>
                    </ul>
                </div>
          </footer>
        </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script id="connectScript" type="text/javascript" src="//apps.commbox.io//Scripts/connect.js"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            BY.contactUs({
                baseDomain: 'commbox.io/',
                appsSubDomain: 'apps',
                streamId: 'w29MpSES8S7DH2awT59e_fQ%3d%3d',
                trackerStreamId: '',
                animateDistance: 0, // the space from right/top/bottom/left- (used for preButton and frame),
                defaultModuleId: 10, /* sms = 14, mail = 10, facebook = 3, chat = 9 */

                //*** more options ***//
                // topPanelControlsColor: '#fff', // icons and texts in top panel
                // subStreamId: 0,
                // externalLoginUrl: '',  // used in case you want to replace bumpyard login page in your login page.(need integration)
                // ta: "ticket",
            });
        });
    </script>
</body>
</html>